*{
    margin: 0;
    background-color:#262626;
    color: #FFFFFF;
}


.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #262626;
    z-index: 21;
  }
  .loader img {
    width: 150px;
  }

  .data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background-color: #262626; */
  }

  .data > div > p > button {
    width: 100%;
    margin-top: 5%;
  }

  #check{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 36px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold
  }

  .card{
    margin-top: 30px !important;
    border: none !important;
  }